{% extends 'base_admin.html.twig' %}

{% block title %}modifier Jardin Solidaire{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8">

            <h3>modifier Jardin Solidaire</h3>

            {{ include('admin/jardin/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('jardin_index') }}" class="btn btn-warning btn-sm text-white">retour à la liste</a>

            {{ include('admin/jardin/_delete_form.html.twig') }}
            
        </div>
    </div>
</div>

{% endblock %}
