{% extends 'base_admin.html.twig' %}

{% block title %}Nouveaux Autonomie{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="mt-3">
                <h1>Créer de nouveaux Autonomie</h1>

                {{ include('admin/autonomie/_form.html.twig') }}

                <a href="{{ path('autonomie_index') }}"  class="btn btn-warning text-white btn-sm">retour à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}
