<form method="post" action="{{ path('delf_delete', {'id': delf.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ delf.id) }}">
    <button class="btn btn-danger btn-sm mt-3">Effacer</button>
</form>
