<footer class="container-fluid mt-5 p-3" style="background-color: #86868e">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 col-md-12 text-center mt-3 mb-5">
               <p> <img src="{{ asset ('images/logogris2.png') }}" width="350" alt="icon"></p>
            </div>

            <div class="col-lg-4 col-md-12 link text-center mt-3">
                <p><span class="strong">Horaires : </span>Du lundi au vendredi : 8h00 – 12h00 et 14h00 – 17h00</p>
                {# <p></p> #}
                <p>Fermé le mercredi après-midi</p>
                <p><span class="strong">Adresse : </span>110 bis Av. Edouard Herriot, 10000 Troyes</p>
                {# <p></p> #}
                <p><span class="strong">Téléphone : </span>03.25.80.16.74</p>
                {# <p></p> #}

            </div>

            <div class="col-lg-4 col-md-12 text-center mt-3">
                <p>Suivez-nous</p>
                <p>
                    {# <a href="">
                        <i class="fab fa-linkedin"></i>
                    </a> #}
                    <a href="https://www.facebook.com/Association-lAccord-Parfait-705105342941422">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>

            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 text-center">
        <sapn>&copy;{% trans %}2022, All rights reserved.{% endtrans %}</span>
    </div>
</footer>
