{% extends 'base_admin.html.twig' %}

{% block title %}Nouveaux événement{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h3>Créer de nouveaux événement</h3>

        {{ include('admin/evenements/_form.html.twig') }}

        <div class="col-md-2">
            <a href="{{ path('evenements_index') }}" class="btn btn-warning text-white btn-sm">retour à la liste</a>
        </div>

    </div>
</div>
{% endblock %}
